footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    border-top: 1px solid #cdcdcd;
}

.informacoes,
.redes-sociais {
    flex: 1 1 100%;
    margin: 10px;
}

.informacoes ul,
.redes-sociais ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.redes-sociais img {
    width: 40px;
}