
header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightcoral;
}

header .logo{
    width: 150px;
}

header span{
    font-weight: bolder;
    font-size: 5em;
}